<!DOCTYPE html>
<html lang="en">
<head>
    <!--required meta tags-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
<!--기본 템플릿 안에 삽입될 내용 Start-->
<th:block layout:fragment="content"></th:block>
<!--기본 템플릿 안에 삽입될 내용 End-->
</body>
</html>